@import "tailwindcss";

@theme {
  --color-primary: #2b7a78;
  --color-secondary: #0f172a;
  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-text: #111827;
  /* --color-primary: #4f46e5; */
}
